[Unit]
Description=Timer para Sistema RPA - Ejecución cada 30 segundos
Requires=rpa_system.service

[Timer]
Unit=rpa_system.service
OnCalendar=*:*:00/30
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target 